@model OnlineMarketStore.Models.News

@{
    ViewData["Title"] = "Details New";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="Delete" asp-route-id="@Model.PostId">
    <input type="hidden" asp-for="PostId" />
    <div class="new-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminNews" asp-action="Index">News List</a>
                <span class="breadcrumb-item active">Details News </span>
            </nav>
        </div>
    </div>

    <div class="new-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height:70px; width:70px">
                    <img src="~/images/news/@Model.Thumb" alt="@Model.Title" />
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">@Model.Title</h4>
                    <p class="text-muted m-b-0">ID: #@Model.PostId</p>
                </div>
            </div>
            <div class="m-b-15">
                <input type="submit" value="Delete Confirm" class="btn btn-danger" />
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-overview">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-images">News Images</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-overview">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Info</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Title:</td>
                                        <td>@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <td>Create Date:</td>
                                        <td>@Model.CreateDate.Value.ToString("HH:mm dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td>Alias:</td>
                                        <td>@Model.Alias</td>
                                    </tr>
                                    <tr>
                                        <td>Author:</td>
                                        <td>@Model.Author</td>
                                    </tr>
                                    <tr>
                                        <td>Account:</td>
                                        <td>@Model.Account.FullName</td>
                                    </tr>
                                    <tr>
                                        <td>IsHot:</td>
                                        @if (Model.IsHot)
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-cyan">Public</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-red">Block</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>IsNewfeed:</td>
                                        @if (Model.IsNewfeed)
                                        {


                                            <td>
                                                <span class="badge badge-pill badge-cyan">Public</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-red">Block</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Status:</td>
                                        @if (Model.Published)
                                        {


                                            <td>
                                                <span class="badge badge-pill badge-cyan">Public</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-red">Block</span>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">SContents</h4>
                    </div>
                    <div class="card-body">
                        <p>@Html.Raw(Model.Scontents)</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Contents</h4>
                    </div>
                    <div class="card-body">
                        <p>@Html.Raw(Model.Contents)</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-images">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid" src="~/images/news/@Model.Thumb" alt="">
                            </div>
                            <div class="col-md-3">
                                <img class="img-fluid" src="~/images/news/@Model.Thumb" alt="">
                            </div>
                            <div class="col-md-3">
                                <img class="img-fluid" src="~/images/news/@Model.Thumb" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" asp-action="Index">Back to List</a>

    </form>